{% for item in cart_items %}
<div class="cart-card-full" {{ vue_component('CartCard', { 'id' : item.product.id, 'name' : item.product.name, 'article'
    : item.product.article, 'image' : item.product.image, 'cost' : item.product.cost, 'amount' : item.amount , 'size' : item.size} ) }}>
</div>
{% endfor %}