{% extends 'base.html.twig' %}

{% block title %} FAITHWORK {% endblock %}

{% block body %}
    <div {{ vue_component('HeaderMain') }}></div>
    {# <div {{ vue_component('Marquee') }}></div> #}
    <div {{ vue_component('FooterMain') }}></div>

{% endblock %}
