{% extends 'base.html.twig' %}

{% block title %}FAITHWORK
{% endblock %}

{% block body %}
	<div {{ vue_component('HeaderMain') }}></div>
    <div class="shop-page">
	{% for product in products %}
            <div class="product-card-full" {{ vue_component('ProductCard', { 'id': product.id,
                                                                                'name': product.name,
                                                                                'article': product.article,
                                                                                'image': product.image,
                                                                                'cost': product.cost,
                                                                                'description': product.description, } 
                                                              )
                                               }}>
            </div>
	{% endfor %}
    </div>
{% endblock %}
