{% extends 'base.html.twig' %}

{% block title %} FAITHWORK {% endblock %}

{% block body %}
<div {{ vue_component('HeaderCommon') }}></div>
<div {{ vue_component('AboutUs') }}></div>
<div {{ vue_component('FooterSecond') }}></div>
{% endblock %}